* {
    box-sizing: border-box;
}

.container {
    width: 1281px;
    margin: 0 auto;
}

/*HEADER*/

h1 {
    color: #4BCAFF;
    font-family: AdobeInvisFont,Courier,MyriadPro-Regular;
    height: 74px;
    font-size: 80px;
}

span {
    color: #000000;
}


.menu_list {
    display: flex;
    list-style: none;
    padding: 0;
}

.menu_item {
    background-color: #35444F;
    line-height: 70px;
    margin-top: 0;
    padding: 0;
}

.menu_item:hover {
    background-color: #222F3A;
}

.header_link {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-family: AdobeInvisFont,Courier,MyriadPro-Regular;
    font-size: 24px;
    text-align: center;
}


/*MAIN*/

.aside{
    margin-top: 38px;
}

.main_menu_list {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

.left_bar {
    float: left;
    border: 1px solid #35444F;
}

.left_link {
    text-decoration: none;
    color: #485863;
    font-size: 30px;
    padding: 0 97px 0 30px;
}

.bar_item {
    line-height: 61px;
}

.bar_item:hover {
    background-color: #DBDBDB;
}

.right_pic {
    display: flex;
    width: 50%;
    height: 500px;
    margin-right: 270px;
    margin-bottom: 22px;
    float: right;
    border: 1px solid black;
}

.pic {
    padding: 56px 201px 55px 143px;
}

.text {
    margin-left: 370px;
    margin-right: 280px;
}

.right_pic img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*FOOTER*/

.footer {
    margin-top: 38px;
    margin-bottom: 23px;
    background-color: #B4B7BA;
    line-height: 69px;
    font-weight: bold;
    margin-right: 270px;
}

.footer_list {
    display: flex;
    list-style: none;
    padding: 0 0 0 22px;
    text-align: center;
}

.footer_item {
    margin-left: 20px;
}

.footer_span1 {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer_span2 {
    margin-left: 250px;
}